.container {
    max-width: 90%;
    margin: 64px auto;
}

.add-filter-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.text-right {
    text-align: right;
}
